body {
  padding: 0;
  margin: 0;
  background-color: #ECECEC;
}

header {
  height: 50px;
  background-color: #ffffff;
  line-height: 50px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 120px;
  box-sizing: border-box;
}

header:after {
  content: '';
  clear: both;
}

header .link {
  float: right;
}

header .link a {
  font-size: 12px;
  color: gray;
  text-decoration: none;
  padding: 0 15px;
}

header .title {
  font-size: 20px;
}

header .search {
  width: 50px;
  height: 30px;
  vertical-align: middle;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

.hero {
  padding: 180px 270px 135px;
  text-align: center;
}

.hero-background {
  box-sizing: border-box;
  height: 500px;
  background: url("./assert/hero.jpg");
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: #ffffff;
  font-size: 42px;
  margin: 0;
}

.hero-sub-title {
  color: #ffffff;
  font-size: 12px;
  padding: 22px 0;
  margin: 0;
}

.button {
  width: 140px;
  height: 40px;
  font-size: 10px;
}

.download {
  background: transparent;
  color: #ffffff;
}

.read-more {
  color: #ffffff;
  background-color: #7462F5;
  border: 1px solid #7462F5;
}
