body {
  padding: 0;
  margin: 0;
  background-color: #ECECEC;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  height: 50px;
  background-color: #ffffff;
  line-height: 50px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 120px;
  box-sizing: border-box;
}

header:after {
  content: '';
  clear: both;
}

header .link {
  float: right;
}

header .link a {
  font-size: 12px;
  color: gray;
  text-decoration: none;
  padding: 0 15px;
}

header .title {
  font-size: 20px;
}

header .search {
  width: 50px;
  height: 30px;
  vertical-align: middle;
}

.hero {
  padding: 180px 270px 135px;
  text-align: center;
}

.hero-background {
  box-sizing: border-box;
  height: 500px;
  background: url("./assert/hero.jpg");
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: #ffffff;
  font-size: 42px;
  margin: 0;
}

.hero-sub-title {
  color: #ffffff;
  font-size: 12px;
  padding: 22px 0;
  margin: 0;
}

.button {
  width: 140px;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
}

.download {
  background: transparent;
  color: #ffffff;
}

.read-more {
  color: #ffffff;
  background-color: #7462F5;
  border: 1px solid #7462F5;
}

.seo {
  background-color: #ffffff;
  padding: 140px 120px 100px 100px;
}

.seo:after {
  content: '';
  clear: both;
}

.preview {
  width: 420px;
  height: 260px;
}

.seo-description {
  width: 300px;
  float: right;
  padding-top: 40px;
}

.seo-description-title {
  font-size: 20px;
  font-weight: bold;
}

.description-content {
  font-size: 12px;
  color: #8E999F;
  line-height: 18px;
  margin: 20px 0;
}

.portfolio {
  background-color: #F5F5F5;
  padding: 80px 120px 100px 100px;
  overflow: hidden;
}

.portfolio-description {
  width: 300px;
  float: left;
}

.portfolio-img {
  float: right;
  width: 420px;
  height: 260px;
}

.portfolio-description {
  padding-top: 40px;
}

.portfolio-description-title {
  font-size: 20px;
  font-weight: bold;
}

footer {
  box-sizing: border-box;
  height: 150px;
  line-height: 70px;
  background-color: #0E1015;
  padding: 40px 100px;
}

footer .description {
  color: #ffffff;
  font-size: 14px;
}

.icon-links {
  float: right;
  display: inline;
  text-align: right;
  color: #ffffff;
}
